<h1 *ngIf="!edit">Ingresar a la Pokedex <small>- pokemon -</small></h1>
<h1 *ngIf="edit">Editar {{pokemon.name.english}}</h1>

<div fxLayout="row" fxLayoutGap=40px fxLayout.xs = "column">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs = "column">
            <mat-form-field>
                <mat-label>Pokemon</mat-label>
                <input matInput type="text" [(ngModel)]="nombre.english"  required>
            </mat-form-field>
            <mat-form-field>
                <mat-label># Indice nacional</mat-label>
                <input matInput type="number" [(ngModel)]="pokemon.id" required>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Link imagen</mat-label>
            <input matInput type="text" [(ngModel)]="pokemon.alt_img" required>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs = "column">
            <mat-form-field>
                <mat-label>Tipo 1</mat-label>
                <mat-select [(value)]="tipo[0]" required>
                    <mat-option *ngFor="let tipo of tipos" value={{tipo}}>
                        <img src="{{tipo|tipoImagen}}" style="height:20pt;vertical-align: middle;"> {{tipo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo 2</mat-label>
                <mat-select [(value)]="tipo[1]">
                    <mat-option value="">None</mat-option>
                    <mat-option *ngFor="let tipo of tipos" value={{tipo}}>
                        <img src="{{tipo|tipoImagen}}" style="height:20pt;vertical-align: middle;"> {{tipo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <mat-divider></mat-divider><br>
        <h1>Stats:</h1>
        <div fxLayout="row" fxLayoutGap = "10px" fxLayout.xs = "column">
            <div fxLayout="column">
                <mat-form-field>
                    <mat-label>HP</mat-label>
                    <input matInput type="number" [(ngModel)]="base.HP">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Attack</mat-label>
                    <input matInput type="number" [(ngModel)]="base.Attack">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Defense</mat-label>
                    <input matInput type="number" [(ngModel)]="base.Defense">
                </mat-form-field>

            </div>
            <div fxLayout="column">
                <mat-form-field>
                    <mat-label>Speed</mat-label>
                    <input matInput type="number" [(ngModel)]="base.Speed">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sp. Attack</mat-label>
                    <input matInput type="number" [(ngModel)]="spatk">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sp. Defense</mat-label>
                    <input matInput type="number" [(ngModel)]="spdef">
                </mat-form-field>

            </div>

        </div>
        <mat-divider></mat-divider><br>
        <h1>Nombres internacionales: <small>(opcional)</small></h1>
        <mat-form-field>
            <mat-label>Japonés</mat-label>
            <input matInput type="text" [(ngModel)]="nombre.japanese">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Chino</mat-label>
            <input matInput type="text" [(ngModel)]="nombre.chinese">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Francés</mat-label>
            <input matInput type="text" [(ngModel)]="nombre.french">
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap = "10px" fxLayout>
            <button mat-raised-button color="warn" (click)="guardar()">
                <mat-icon style="transform: rotate(180deg);">
                    catching_pokemon
                </mat-icon>
                Guardar
            </button>
            <div class="spacer"></div>
            <button mat-raised-button color="primary" *ngIf="pokemon.id" (click) = "borrarPokemon()">
                <mat-icon style="transform: rotate(180deg);">
                    clear
                </mat-icon>
                Eliminar
            </button>

        </div>

    </div>
    <div fxFlex="50" fxLayout="column">
        <div *ngIf="edit;else noImage">
            <img src="{{pokemon | imagen}}" style="width: 90%;">
        </div>
    </div>


</div>


<ng-template #noImage>
    <img  src="../../../../assets/no-image.png" alt="No image">

</ng-template>