<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-button
              (click) = "sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
  
    </mat-toolbar>
    <mat-nav-list>
      <a  routerLink = "./clases"
          mat-list-item
          (click) = "sidenav.toggle()"
      > 
      <mat-icon mat-list-icon> school </mat-icon>
      <span>Listado de clases</span>
      </a>
      <a  routerLink = "./students"
          mat-list-item
          (click) = "sidenav.toggle()"
      > 
      <mat-icon mat-list-icon> face </mat-icon>
      <span>Administrar alumnos</span>
      </a>
      <a  routerLink = "./teachers"
          mat-list-item
          (click) = "sidenav.toggle()"
      > 
      <mat-icon mat-list-icon> people </mat-icon>
      <span>Administrar profesores</span>
      </a>
      <a  routerLink = "./reports"
          mat-list-item
          (click) = "sidenav.toggle()"
      > 
      <mat-icon mat-list-icon> summarize </mat-icon>
      <span>Ver reportes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-button
            (click) = "sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <h2>USER</h2>
    <button mat-stroked-button
            color="primary"
            
    >
      <mat-icon>logout</mat-icon>
      <span>logout</span>
    </button>

  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

